@import "../../assets/styles/variables.module.scss";

.container {
  font-size: $lgFontSize;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.1rem;

  .icon {
    cursor: pointer;

    &:hover {
      opacity: $hoverOpacity;
    }
  }
}
