@import "../../../../assets/styles/variables.module.scss";

.container {
  box-shadow: $lessBoxShadow;
  padding: 0.5rem;
  cursor: pointer;

  .collapse {
    display: flex !important;
    flex-direction: column;
    row-gap: 0.5rem;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $smFontSize;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .buttons {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
      }
    }
  }
}
