@import "../../../../../assets/styles/variables.module.scss";

.container {
  grid-area: Images;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  cursor: pointer;

  .main {
    width: 100%;
    object-fit: cover;

    &Big {
      height: 100%;
    }

    &Small {
      height: 80%;
    }
  }

  .preview {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
