@import "../../../../../assets/styles/variables.module.scss";

.container {
  grid-area: Images;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  .mainBig {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .mainSmall {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }

  .preview {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
