
:export {
    // --- Light Theme ---
    primaryLight: #3250d6;
    secondaryLight: #ea3838;
    textLight: #000000;
    backgroundLight: #f1f1f5;
    navbarLight: #fffdfd;

    // --- Dark Theme ---
    primaryDark: #2f306b;
    secondaryDark: #902f2f;
    textDark: #ffffff;
    backgroundDark: #201d28;
    navbarDark: #25273b;
}