:export {
  // --- Light Theme ---
  primaryLight: #fffdfd;
  secondaryLight: #e0e0e0;
  textLight: #000000;
  backgroundLight: #dedbdb;
  navbarLight: #fffdfd;

  // --- Dark Theme ---
  primaryDark: #25273b;
  secondaryDark: #707070;
  textDark: #ffffff;
  backgroundDark: #201d28;
  navbarDark: #25273b;
}
