:export {
  // --- Light Theme ---
  primaryLight: #fffdfd;
  secondaryLight: #e7e4e4;
  tertiaryLight: #f0f0f0;
  textLight: #000000;
  backgroundLight: #dedbdb;
  navbarLight: #fffdfd;
  scrollBarThumbLight: #b8b6b6;
  inputBorderLight: 1px solid #a5a2a2;
  focusHoverInputLight: 1px solid#3182ce;

  // --- Dark Theme ---
  primaryDark: #25273b;
  secondaryDark: #31334d;
  tertiaryDark: #333546;
  textDark: #ffffff;
  backgroundDark: #201d28;
  navbarDark: #25273b;
  scrollBarThumbDark: #7f8181;
  inputBorderDark: 1px solid #5f5f5f;
  focusHoverInputDark: 1px solid #63b3ed;
}
