$boxShadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;

$borderRadius: 0.5rem;

$xsFontSize: 0.75rem;
$smFontSize: 1rem;
$mdFontSize: 1.25rem;
$lgFontSize: 1.75rem;
$xlFontSize: 2.25rem;

$hoverOpacity: 0.5;

$moreBrightness: brightness(1.2);
$lessBrightness: brightness(0.8);

:export {
  hoverOpacity: $hoverOpacity;
  moreBrightness: $moreBrightness;
  lessBrightness: $lessBrightness;
}
